/*
rgb(0, 26, 59) AZUL
rgb(253, 50, 45) VERMELHO
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: rgb(0, 26, 59);
    padding: 20px;
}

.container-header {
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
}

.menu ul {
    display: flex;
    
    gap: 30px;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
}
