/*
rgb(0, 26, 59) AZUL
rgb(253, 50, 45) VERMELHO
*/

* {
    box-sizing: border-box;
}

body {
    background-color: black; /* Escuro apenas para ficar mais confortável para programar */
    margin: 0;
}

header {
    background-color: rgb(0, 26, 59);
    padding: 5px 150px;
}

.container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header img {
    /*
    transform: scale(1.5);
    ALTERA O TAMANHO DA IMAGEM DA LOGO E DO NOME DA FERRAGEM PARA O QUE SERIA O TAMANHO IDEAL,
    PORÉM, A IMAGEM VAZA NA PARTE DE PAIXO DE FORA DO HEADER PARA O BODY,
    ISSO TUDO SEM MEXER NO "WIDTH: 200PX" DO HEADER,
    POIS A IDÉIA É MANTER EXATAMENTE IGUAL O TAMANHO DO HEADER E AUMENTAR O TAMANHO DA IMAGEM,
    TUDO ISSO SEM VAZAR PARA BAIXO.... 
    não tire o comentário para testar porque buga, ignore ele e mantenha até que se resolva,
    crie uma nova linha de código com o mesmo "transform: scale(1.5);",
    para testar vendo o erro do vazamento, até que consiga resolver definitivamente,
    logo após, aí sim, pode apagar este comentário inteiro
    */
    width: 200px;
}

.menu ul {
    display: flex;
    gap: 150px;
    list-style: none;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}
