/*
rgb(0, 26, 59) AZUL
rgb(253, 50, 45) VERMELHO
*/

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.logo {
    border-radius: 50px;
    width: 170px;
}