/*
rgb(0, 26, 59) AZUL
rgb(253, 50, 45) VERMELHO
*/

* {
    box-sizing: border-box;
}

body {
    background-color: black; /* Escuro apenas para ficar mais confortável para programar */
    margin: 0;
}

header {
    background-color: rgb(0, 26, 59);
    padding: 20px;
}

.container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

header img {
    margin-left: 100px;
    width: 200px;
}

.menu ul {
    display: flex;
    gap: 150px;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
}
